
* {
	margin: .2vmin;
	padding: .2vmin;
	box-sizing: border-box;
	user-select: none;
}

body {
	margin: .5vmin;
	font: normal calc(.7em + .3vmin) 'open sans';
	color: #666;
	background-color: #fff;
}


.main {
	width: 95%;
	max-width: 800px;
	min-width: 500px;
	margin: .3vh auto;
}


@mixin button($color: #333, $bkg: #999) {
	text-align: center;
	padding: .25vh 1vw;
	margin: .2vmin;
	border: 1px solid $color;
	border-radius: .2vmin;
	color: $color;
	background-color: $bkg;
}



// config areas - parent/container, and child properties

.flexprops {

	$hue: 205;
	$sat: 30%;
	$fore-color: hsl($hue, $sat, 35%);
	$color-hover: hsl($hue, $sat, 90%);
	$color-light: hsl($hue, $sat, 100%);
	$bkg-sel: hsl($hue, $sat, 70%);

	display: flex;
	flex-direction: row;  // just to be explicit...
	justify-content: center;
	align-items: flex-start;
	
	border: 1px solid $fore-color;
	border-radius: .2vmin;

	// each property column
	.prop {
		display: flex;
		flex-direction: column;
		min-width: 13%;
		max-width: 20%;
		margin: .2vmin;
	
		// the property name header
		.propName {
			font-weight: bold;
			text-align: center;
			padding: .2vmin;
			cursor: help;
		}

		// each property value button
		.propval {

			@include button($fore-color, transparent);
			cursor: pointer;

			&.selected {
				background-color: $bkg-sel;
				color: $color-light;
			}
			&:hover:not(.selected) {
				background-color: $color-hover;
			}
			
		}
	}
}



.demo-wrapper {
	width: 50%;
	max-width: 500px;
	min-width: 150px;
	margin: .2vmin auto;

	// demo area
	.container {

		display: flex;								
		flex-direction: var(--prop-flex-direction);
		flex-wrap:	var(--prop-flex-wrap);
		justify-content: var(--prop-justify-content);			
		align-items: var(--prop-align-items);			
		align-content: var(--prop-align-content);

		height: 7vh;
		background-color: #aaa;
		border: 1px solid rgba(0,0,0,.7);
		border-radius: .2vmin;


		/* each flex item inside the flex-parent */
		p {
			flex-basis: var(--prop-flex-basis);		
			flex-grow: var(--prop-flex-grow);
			flex-shrink: var(--prop-flex-shrink);

			@include button(hsla(206, 50%, 0%, 0.99) , hsla(206, 100%, 70%, 0.5));

		}
	}


}




